



app-login {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  margin: 2em;
}

a {
  text-decoration: none;
  color: #00e5ff;
}
a:hover {
  color: #00b7cc;
}

ul {
  margin: 0;
}

span {
  margin-top: 2em;
  width: fit-content;
  font-size: 2em;
}

span span {
  font-size: 1em;
  color: #00e5ff;
}

.nav {
  padding: 0;
  margin: 0.8em 2em 0.5em 0;
  display: flex;
  float: right;
  justify-content: space-between;
}