/* 

Font Families
font-family: 'Poppins', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif; 

*/

html,
body,
app-root {
  height: 100%;
}

body {
  margin-bottom: 0;
  margin-top: 0;
}

body {
  color: #f9f5ff;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  background-color: #28262c;
}
