<main>

    <ejs-stockchart [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltipSettings"   [title]="chartTitle" [crosshair]='crossSettings'>


        <e-stockchart-series-collection>
             
            <e-stockchart-series 
            [dataSource]="data" 
            type="Candle" 
            xName="x" 
            yName="high" 
            name="Apple Inc" 
            High= "high"
            Low= "low"
            Open="open"
            Close= "close">
             
            </e-stockchart-series> 
             
            </e-stockchart-series-collection>
            <e-indicators>
                <e-indicator type='Sma' xName='x' field="Close" fill="blue" seriesName='Apple Inc'> </e-indicator>
            </e-indicators>
            </ejs-stockchart>
        </main>
